html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
}

.loginform {
    position: relative;
    left: 70%;
    top: 120px;
    width: 300px;
    padding: 15px;
    height: auto;
    border: 1px solid darkgray;
    border-radius: 15px;
}

.loginLogo {
text-align: center;
}

.content {
    height: 100%;
    width: 100%;
    background-image: url("../image/bg.jpg");
    background-size: 100% 100%;

}

.loginImage{
    position: relative;
    left: 420px;
    top:40px
}

nav ul li{
    text-align: center;
    list-style: none;
    width: 140px;
    height: 40px;
    border: 1px solid darkgray;
    border-radius: 5px;
    line-height: 40px;
}
nav ul{
position: relative;
    top:80px;
    left: 20px;

}
.nav2_1 ,.nav2_2{
    display: none;
    color: #1b6d85;
}
.nav2_1 li,.nav2_2 li{
    border-radius: 0;
}
nav{
    width: 250px;
    height: 100%;
    border-right: 1px solid darkgray;
}
.adultImagge{
    position: absolute;
    top: 30px;
    left:40px;
}
header{
    width: 100%;
    height: 100px;
    border-bottom: solid 1px darkgray;
}
.headImage{
    width: 70px;
    height: 70px;
    position: relative;
    top: 15px;
    left:1160px
}

.logout{
    width: 70px;
    height: 30px;
    position: relative;
    top: 25px;
    left:1170px
}
.studioContent{
    height: 100%;
    width: 100%;
    background-image: url('../image/bg2.jpg');
    background-repeat: repeat-y;
    background-size: 100% 100%;
}
.studioRoom{
    /*background-color: yellow;*/
    height: 400px;
    width: 570px;
    position: relative;
    bottom: 580px;
    left: 350px;
}
.pingmu{
    background-image: url("../image/sit_div.jpg");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    height: 100px;
    width: 80%;
    border-radius: 10px;

}
.seatsRoom{
    padding: 20px;
    width: 400px;
    height: 280px;
    /*background-color: green;*/
    margin: 0 auto;
}
.seatBtn{
    width: 25px;
    height:25px;
    background-color: whitesmoke;
    margin: 4px;
}
.studioContainer{
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 10px;
    display: none;
}
.selectAreat{
    height:420px;
    width:250px;
    /*background-color: yellow;*/
    position: relative;
    bottom: 420px;
    left: 680px;
    border: 1px darkgray solid;
    border-radius: 10px;
    padding: 35px;
    color:black;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    display: none;
}
.btnus{
    display: block;
    width: 150px;
    margin: 20px;

}